.fieldCorrect {
    border-color: green;

}

.fieldWrong {
    border-color: red;
}

.submitError, .submitSuccess {
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.submitError {
    background-color: rgb(255, 158, 158);
}

.submitSuccess {
    background-color: rgb(174, 255, 158);
}

span {
    background-color: rgb(255, 158, 158);
    border-radius: 5px;
    padding: 1%;
    font-weight: bold;
    font-size: 0.9em;
}