.todo-list {
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    padding: 20px;
    margin-bottom: 20px;
  }
  .todo-item {
    margin: auto;
    padding: 10px;
    width: 70%;
    border-bottom: 1px solid grey;
    font-family: sans-serif;
    font-size: 15px;
    display: inline;
  }
  .deleteBtn {
    background: rgb(189, 3, 3);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    float: right;
    font-size: 0.8em;
    font-weight: bold;
  }

  .filters {
    margin-bottom: 1%;
  }

  .filters span {
    background: none;
    font-size: 15px;
  }