html {
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
}

.weather-header {
  background-color: rgb(70, 224, 230);
  padding: 40px;
  color: white;
}

.city-select {
  /* max-width: 60%; */
  width: 300px;
  /* min-width: 60%; */
}

.city-search {
  width: 300px;
  /* max-width: 60%; */
  /* min-width: 60%; */
}

.cur-panel {
  min-width: 400px;
  border: solid 1px rgb(2, 197, 204);
  background-color: rgb(189, 251, 253);
  border-radius: 10px;
}

.cur-panel h2,
.days-panel h2 {
  font-size: 1.8rem;
}

.cur-panel h3 {
  font-size: 1.6rem;
}

.cur-panel h4 {
  font-size: 1.5rem;
}

.cur-panel .row {
  margin: 1px;
}

.cur-panel .col-md {
  margin: 1%;
  border: solid 1px rgb(246, 255, 255);
  border-radius: 5px;
}

.days-panel {
  min-width: 400px;
  border: solid 1px rgb(2, 197, 204);
  background-color: rgb(189, 251, 253);
  border-radius: 10px;
}

.days-panel h4 {
  font-size: 1.4rem;
}

.days-panel h5 {
  font-size: 1.2rem;
}

.days-panel .row {
  margin: 1px;
}

.days-panel .col-md {
  margin: 1px;
  border: solid 1px rgb(246, 255, 255);
  border-radius: 5px;
}
