.calcBtn {
    margin: 1px;
    width: 15%;
}

.calculator {
    background-color: darkslategrey;
    border: solid 1px black;
    border-radius: 10px;
}

#calcInput {
    width: 99%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

#btnEquals {
    background-color: rgb(157, 223, 223);
    border-color: rgb(157, 223, 223);
}